html{
    scroll-behavior: smooth;
}
body{
font-family: Arvo, serif;
background: url(/assets/back.jpeg) no-repeat center center ;
background-attachment: fixed;
background-size: cover; 
}
#ups{
text-decoration: none;
text-align: center;
font-size: 25px;
color: white;

}
.logo{
height: 30px;
}
.navbar{
background: rgba(0,0,0,0.5);

}
li{
padding: 10px 0;
color: #D3D3D3;
font-family:  sans-serif;
font-size: 19px;
margin-right: 35px;

}
.bg-llight {
    background-color: transparent;
    color: white;
}
.mynavbar-toggler-icon{
    background-image: url(/assets/icon.png);
}
li:hover{
border-bottom: 1px solid #e03210;
color: #fff;
cursor: pointer;
padding-bottom: 9px;
}

.nav-link:hover{
color: white;	
}
.nav-link {
color: #D3D3D3;
font-family:  sans-serif;
font-size: 19px;

}
.navbar-toggler-icon{
color: #fff;
}
.nav
.icon-bar{
color: white;
background-color: white;
}
.body-image{
height: 120px;
transform: scale(1);
transition: 1s;
}
.body-image:hover{
transform: scale(1.2);
transition: 1s;

}

p{
font-family: 'Solway';
padding: 15px;
margin: 10px;
font-size: 18px;
}


.col-md-4{
text-align: center;
padding: 20px;
max-width: 1000px;
}
#home{
margin-top: 250px;
}

.jumbotronn{
background-color: transparent;
font-family: 'Noto Serif';

color: #fff;
text-align: center;
margin: 0px;
padding: 10px;
letter-spacing: 3px;
margin-top: 20px;
}

#uu{
text-align: center;
font-size:40px;
color: white;
}
.modal-header{
text-align: center;
margin-right: 80px;
}

.contact{
text-align: center;
margin-top: 30px;

}

.close{
float: right;
}