html{
	overflow-x: hidden;
	
}
 body{
   
	overflow-x: hidden;
	
 }

.jumbotron{
	margin-top: 10px;
	padding: 10px;
	height: 200px;
}
h1{
	padding: 30px;
	text-align: center;
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
}
h2{font-family: 'Roboto Condensed', sans-serif;
}
p{
font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	
}
.card{
	margin: auto;
	margin-top: 40px;
	margin-bottom: 20px;
	border-width: medium;
	
}


@media only screen and (max-width: 600px){
	
.btn-danger{
	margin-top: 20px;
}

}

